.cell-list-item {
  position: relative;
}

.cell-list-item:hover {
  position: relative;
  border: 1px solid #FAF9F6 !important;
}

.cell-list-item:focus {
  position: relative;
  border: 1px solid #FAF9F6 !important;
}





